@import "../vars/colors";

.media_container {
	background: $white;
	border: 0;
	border-radius: .5em;
	align-items: flex-start;
	cursor: pointer;
	display: inline-flex;
	flex-grow: 0;
	flex-shrink: 0;
	height: 0em;
	justify-content: flex-start;
	opacity: 1;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
	* {
		pointer-events: none;
	}
	&.wide_container {
		padding-bottom: 50%;
	}
	&.round_container {
		background: $slate;
		border-radius: 4em;
		display: flex;
		float: left;
		//height: 8em;
		margin: 0 1em 1em 0;
		//width: 8em;
	}
	&.hd_container {
		border-radius: 0;
		padding-bottom: 56.25%;
	}
	&:not(:last-child) {
		margin-right: 1em;
	}
	&:hover, &:focus, &:active {
		filter: brightness(1.1);
		opacity: 0.8;
	}
}

.media_title {
	align-items: center;
	display: flex;
	height: calc(100% - 1em);
	justify-content: center;
	left: 0;
	margin: .5em;
	position: absolute;
	top: 0;
	width: calc(100% - 1em);
	z-index: 1;	
	span {
		background: $transwhite;
		color: $slate;
		padding: .5em;
		text-align: center;
	}
}
.media_contents {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
	img, video {
		&[data-shape="wide"] {
			height: 100%;
			width: auto;
		}
		&[data-shape="tall"] {
			height: auto;
			width: 100%;
		}
	}
}