@import "../vars/colors";

.stream_field {
	.stream_url {
		padding: 1em 0;
		*, & {
			width: 100%;
		}
	}
}

.stream_container {
	background: $offwhite;
	border-radius: .5em;
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	width: 100%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}