$teal: #00CCFF;
$active_teal: #00E1FF;

$pink: #ff0090;
$active_pink: #ff25a0;

$red: #ff0047;
$active_red: #ff2a65;

$white: #FFF;
$offwhite: #f1f1f3;

$slate: #252525;
$black: #000;

$shadow: rgba(0,0,0,0.1);
