.grid {
  position: relative; }

.grid_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .grid_contents.selections_active .grid_item {
    cursor: pointer; }
    .grid_contents.selections_active .grid_item .fab {
      transform: scale(1) !important;
      opacity: 1 !important; }
    .grid_contents.selections_active .grid_item *:not(.fab) {
      pointer-events: none; }
    .grid_contents.selections_active .grid_item:active .fab, .grid_contents.selections_active .grid_item:focus .fab, .grid_contents.selections_active .grid_item:hover .fab {
      background: #00E1FF !important; }
    .grid_contents.selections_active .grid_item:active .media_container, .grid_contents.selections_active .grid_item:focus .media_container, .grid_contents.selections_active .grid_item:hover .media_container {
      filter: brightness(1.1);
      opacity: 0.8; }

.grid_item {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 0 1em 0;
  position: relative; }
  @media (max-width: 245px) {
    .grid_item {
      margin-right: 0;
      width: 100%; } }
  @media (min-width: 250px) and (max-width: 374px) {
    .grid_item.square_grid_item {
      flex-basis: calc(50% - 1em); }
      .grid_item.square_grid_item:nth-child(2n + 2) {
        margin-right: 0; } }
  @media (min-width: 375px) and (max-width: 519px) {
    .grid_item.square_grid_item {
      flex-basis: calc(33.3% - 1em); }
      .grid_item.square_grid_item:nth-child(3n + 3) {
        margin-right: 0; } }
  @media (min-width: 520px) and (max-width: 665px) {
    .grid_item.square_grid_item {
      flex-basis: calc(25% - 1em); }
      .grid_item.square_grid_item:nth-child(4n + 4) {
        margin-right: 0; } }
  @media (min-width: 666px) and (max-width: 767px) {
    .grid_item.square_grid_item {
      flex-basis: calc(20% - 1em); }
      .grid_item.square_grid_item:nth-child(5n + 5) {
        margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .grid_item.square_grid_item {
      flex-basis: calc(17% - 1em) !important; }
      .grid_item.square_grid_item:nth-child(6n + 6) {
        margin-right: 0; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .grid_item.square_grid_item {
      flex-basis: calc(13% - 1em); }
      .grid_item.square_grid_item:nth-child(8n + 8) {
        margin-right: 0; } }
  @media (min-width: 1440px) and (max-width: 1919px) {
    .grid_item.square_grid_item {
      flex-basis: calc(10% - 1em); }
      .grid_item.square_grid_item:nth-child(10n + 10) {
        margin-right: 0; } }
  @media (min-width: 1920px) {
    .grid_item.square_grid_item {
      flex-basis: calc(9% - 1em); }
      .grid_item.square_grid_item:nth-child(12n + 12) {
        margin-right: 0; } }
  .grid_item.wide_grid_item a:after {
    padding-bottom: 50%; }
  @media (min-width: 250px) and (max-width: 374px) {
    .grid_item.wide_grid_item {
      flex-basis: 100%;
      margin-right: 0; } }
  @media (min-width: 375px) and (max-width: 519px) {
    .grid_item.wide_grid_item {
      flex-basis: 100%;
      margin-right: 0; } }
  @media (min-width: 520px) and (max-width: 665px) {
    .grid_item.wide_grid_item {
      flex-basis: calc(50% - 1em); }
      .grid_item.wide_grid_item:nth-child(2n + 2) {
        margin-right: 0; } }
  @media (min-width: 666px) and (max-width: 767px) {
    .grid_item.wide_grid_item {
      flex-basis: calc(33.3% - 1em); }
      .grid_item.wide_grid_item:nth-child(3n + 3) {
        margin-right: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .grid_item.wide_grid_item {
      flex-basis: calc(25% - 1em); }
      .grid_item.wide_grid_item:nth-child(4n + 4) {
        margin-right: 0; } }
  @media (min-width: 1024px) and (max-width: 1439px) {
    .grid_item.wide_grid_item {
      flex-basis: calc(20% - 1em); }
      .grid_item.wide_grid_item:nth-child(5n + 5) {
        margin-right: 0; } }
  @media (min-width: 1440px) and (max-width: 1919px) {
    .grid_item.wide_grid_item {
      flex-basis: calc(16.6% - 1em); }
      .grid_item.wide_grid_item:nth-child(6n + 6) {
        margin-right: 0; } }
  @media (min-width: 1920px) {
    .grid_item.wide_grid_item {
      flex-basis: calc(16.6% - 1em); }
      .grid_item.wide_grid_item:nth-child(6n + 6) {
        margin-right: 0; } }
  .grid_item.hidden_flex_item {
    margin: 0;
    padding: 0;
    opacity: 0 !important; }
  .grid_item a {
    display: flex;
    position: relative;
    width: 100%; }
    .grid_item a:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
    .grid_item a .media_container {
      height: 100%;
      position: absolute;
      width: 100%; }
  .grid_item .fab {
    left: -.5em;
    top: -.5em;
    opacity: 0;
    transform: scale(0.5);
    transition-duration: .2s;
    transition-property: transform, opacity; }
  .grid_item .media_container {
    border: 0px solid #00CCFF;
    transition-duration: .2s;
    transition-property: border; }
  .grid_item:active .fab, .grid_item:focus .fab, .grid_item:hover .fab {
    transform: scale(1);
    opacity: 1; }
  .grid_item.selected .fab .icon.checked {
    display: inline; }
  .grid_item.selected .fab .icon.unchecked {
    display: none; }
  .grid_item.selected .media_container {
    border-width: 6px; }
  .grid_item:not(.selected) .fab .icon.checked {
    display: none; }
  .grid_item:not(.selected) .fab .icon.unchecked {
    display: inline; }
  .grid_item:not(.selected) .media_container {
    border-width: 0px; }

.field.media_browser_field {
  display: flex;
  flex-direction: column; }
  .field.media_browser_field + .field.media_browser_field {
    margin-left: 1em; }
  .field.media_browser_field .media_browser_contents {
    display: inline-block;
    margin-bottom: 1em; }
    .field.media_browser_field .media_browser_contents .media_container {
      background: #f1f1f3;
      border-radius: .5em;
      margin: 0 0 1em 0; }
      .field.media_browser_field .media_browser_contents .media_container p {
        margin: 1em; }
  .field.media_browser_field .media_browser_button {
    width: 12em; }
  .field.media_browser_field .actions_footer {
    background: #FFF;
    border-radius: 0 0 .5em .5em;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: space-between;
    height: 4em;
    padding: 1em;
    width: 12em; }
    .field.media_browser_field .actions_footer .field {
      display: flex;
      justify-content: flex-start;
      margin: 0 !important; }
      .field.media_browser_field .actions_footer .field input {
        background: none;
        border: 0 !important;
        padding: 0; }
    .field.media_browser_field .actions_footer .cta {
      font-size: 16px;
      padding: 0.125em 1em;
      line-height: 2em;
      margin: 0;
      min-height: 2em; }

body {
  padding-top: 5.2em !important; }
  @media (min-width: 768px) {
    body {
      padding-top: 5.2em !important; } }

#app_header.admin_header {
  height: 6.5em !important; }
  @media (min-width: 768px) {
    #app_header.admin_header {
      height: 6.5em !important; } }
  #app_header.admin_header ul {
    justify-content: space-between !important; }
    #app_header.admin_header ul #app_title {
      padding: 1em; }

.media_library {
  background: #f1f1f3;
  border-radius: .5em 0 0 0;
  display: flex;
  flex-wrap: wrap;
  height: 16em;
  margin: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em; }
  .media_library .field {
    width: 100%; }
    .media_library .field input, .media_library .field textarea {
      background: #FFF !important; }

.preview_new_img {
  max-width: 100%;
  height: auto;
  display: block; }

#view_all_actions_bar {
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  #view_all_actions_bar div {
    height: 4em;
    display: flex; }
    #view_all_actions_bar div.disabled {
      pointer-events: none; }
      #view_all_actions_bar div.disabled .btn {
        background: #f1f1f3 !important; }
