.media_browser .actions_footer {
  background: #FFF;
  border-radius: 0 0 .5em .5em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding: 1em; }
  .media_browser .actions_footer .field {
    display: flex;
    justify-content: flex-start;
    margin: 0 !important; }
    .media_browser .actions_footer .field input {
      background: none;
      border: 0 !important;
      padding: 0; }
  .media_browser .actions_footer .cta {
    font-size: 16px;
    padding: 0.125em 1em;
    line-height: 2em;
    margin: 0;
    min-height: 2em; }

.media_library {
  background: #f1f1f3;
  border-radius: .5em 0 0 0;
  display: flex;
  flex-wrap: wrap;
  height: 16em;
  margin: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em; }
  .media_library .field {
    width: 100%; }
    .media_library .field input, .media_library .field textarea {
      background: #FFF !important; }

.preview_new_img {
  max-width: 100%;
  height: auto;
  display: block; }

.fields .field {
  display: flex;
  justify-content: space-between;
  height: 8em;
  margin-bottom: 0 !important;
  position: relative;
  width: 100%; }
  .fields .field div {
    flex-basis: calc(50% - 3em); }
  .fields .field label {
    font-weight: normal; }
  .fields .field button {
    cursor: pointer;
    flex-grow: 0;
    height: 4em;
    margin: 2em 0;
    padding: 1em;
    width: 4em !important;
    flex-grow: 0; }

.fields ul:last-child {
  margin-bottom: 1em; }

.field .media_container {
  height: auto;
  margin-bottom: 1em;
  width: auto; }
  .field .media_container img[data-shape="wide"] {
    height: auto;
    max-width: 32em; }
  .field .media_container img[data-shape="tall"] {
    max-height: 32em;
    width: auto; }

#view-all_actions_bar {
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  #view-all_actions_bar div {
    height: 4em;
    display: flex; }
    #view-all_actions_bar div.disabled {
      pointer-events: none; }
      #view-all_actions_bar div.disabled .btn {
        background: #f1f1f3 !important; }

#view_all {
  position: relative; }

#view_all_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #view_all_list li {
    margin: 0 1em 1em 0;
    position: relative;
    flex-grow: 1; }
    #view_all_list li.hidden-flex-item {
      margin: 0;
      padding: 0; }
    #view_all_list li a {
      display: flex;
      position: relative;
      width: 100%; }
      #view_all_list li a:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
      #view_all_list li a .media_container {
        cursor: alias;
        height: 100%;
        position: absolute;
        width: 100%; }
    @media (max-width: 245px) {
      #view_all_list li {
        flex-basis: 100%;
        margin-right: 0;
        width: 100%; } }
    @media (min-width: 250px) and (max-width: 374px) {
      #view_all_list li {
        flex-basis: calc(50% - 1em); }
        #view_all_list li:nth-child(2n + 2) {
          margin-right: 0; } }
    @media (min-width: 375px) and (max-width: 519px) {
      #view_all_list li {
        flex-basis: calc(33.3% - 1em); }
        #view_all_list li:nth-child(3n + 3) {
          margin-right: 0; } }
    @media (min-width: 520px) and (max-width: 665px) {
      #view_all_list li {
        flex-basis: calc(25% - 1em); }
        #view_all_list li:nth-child(4n + 4) {
          margin-right: 0; } }
    @media (min-width: 666px) and (max-width: 767px) {
      #view_all_list li {
        flex-basis: calc(20% - 1em); }
        #view_all_list li:nth-child(5n + 5) {
          margin-right: 0; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #view_all_list li {
        flex-basis: calc(16.6% - 1em); }
        #view_all_list li:nth-child(6n + 6) {
          margin-right: 0; } }
    @media (min-width: 1024px) and (max-width: 1439px) {
      #view_all_list li {
        flex-basis: calc(12.5% - 1em); }
        #view_all_list li:nth-child(8n + 8) {
          margin-right: 0; } }
    @media (min-width: 1440px) and (max-width: 1919px) {
      #view_all_list li {
        flex-basis: calc(10% - 1em); }
        #view_all_list li:nth-child(10n + 10) {
          margin-right: 0; } }
    @media (min-width: 1920px) {
      #view_all_list li {
        flex-basis: calc(8.3% - 1em); }
        #view_all_list li:nth-child(12n + 12) {
          margin-right: 0; } }
    #view_all_list li .fab {
      left: -.5em;
      top: -.5em;
      opacity: 0;
      transform: scale(0.5);
      transition-duration: .2s;
      transition-property: transform, opacity; }
    #view_all_list li .media_container {
      border: 0px solid #00CCFF;
      transition-duration: .2s;
      transition-property: border; }
    #view_all_list li:active .fab, #view_all_list li:focus .fab, #view_all_list li:hover .fab {
      transform: scale(1);
      opacity: 1; }
    #view_all_list li.selected .fab .icon.checked {
      display: inline; }
    #view_all_list li.selected .fab .icon.unchecked {
      display: none; }
    #view_all_list li.selected .media_container {
      border-width: 6px; }
    #view_all_list li:not(.selected) .fab .icon.checked {
      display: none; }
    #view_all_list li:not(.selected) .fab .icon.unchecked {
      display: inline; }
    #view_all_list li:not(.selected) .media_container {
      border-width: 0px; }
  #view_all_list.selections_active li {
    cursor: pointer; }
    #view_all_list.selections_active li .fab {
      transform: scale(1) !important;
      opacity: 1 !important; }
    #view_all_list.selections_active li *:not(.fab) {
      pointer-events: none; }
    #view_all_list.selections_active li:active .fab, #view_all_list.selections_active li:focus .fab, #view_all_list.selections_active li:hover .fab {
      background: #00E1FF !important; }
    #view_all_list.selections_active li:active .media_container, #view_all_list.selections_active li:focus .media_container, #view_all_list.selections_active li:hover .media_container {
      filter: brightness(1.1);
      opacity: 0.8; }
