a {
  text-decoration: none; }
  p > a {
    color: #00CCFF; }

p:first-child {
  margin-top: 0; }

h1, h2 {
  opacity: 1; }

h1 {
  font-size: 2em;
  margin: 0.5em 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .6s; }

h2 {
  display: flex;
  font-size: 1.5em;
  margin: 0 0 .666em 0; }
  h2 .icon {
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    margin: 0.25em .5em 0.25em 0.25em; }
    * + h2 .icon {
      margin: 0.25em 0.25em 0.25em 1em; }
  h2 span {
    font-size: 24px; }

.title {
  font-weight: 500; }

.btn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  outline: none;
  padding: .25em;
  width: 2em; }
  .btn * {
    pointer-events: none; }

#notification_bar {
  background: #ff0090;
  color: #FFF;
  height: 1.5em;
  text-align: center;
  width: 100%; }
  #notification_bar span {
    font-size: .8em;
    line-height: 1.875em; }

article {
  max-width: 1440px;
  min-height: calc(100vh - 14.5em);
  padding: 1em 0;
  width: 100%; }

.card {
  opacity: 0;
  transform: scale(0.9);
  transition-property: opacity, transform;
  transition-duration: .4s;
  will-change: transform; }

form > * {
  opacity: 0;
  transition-property: opacity; }

#footer {
  padding: 1em; }
  #footer > * {
    opacity: 1; }

#app_header nav {
  padding: 1em;
  height: 5em; }
  #app_header nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    #app_header nav ul li {
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;
      opacity: 1; }
      #app_header nav ul li .btn {
        font-size: 24px; }
        #app_header nav ul li .btn:hover svg, #app_header nav ul li .btn:focus svg {
          fill: #00CCFF; }
        #app_header nav ul li .btn:active svg {
          fill: #00E1FF; }

@media (min-width: 1440px) {
  #app_header #menu_btn {
    display: none; } }

#app_header #app_title {
  display: flex;
  height: 36px;
  padding: 6px 0; }

h1 {
  opacity: 1; }

#slideshow {
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1; }
  #slideshow .slide_nav {
    align-items: center;
    display: flex;
    height: 100vw;
    justify-content: space-between;
    width: 100%; }
    @media (min-width: 425px) {
      #slideshow .slide_nav {
        height: 50vw; } }
    @media (min-width: 1440px) {
      #slideshow .slide_nav {
        height: 38.46vw; } }
  #slideshow .slide_arrow {
    background: #f1f1f3;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);
    font-size: 1.5em;
    margin: 1em;
    position: relative; }
    #slideshow .slide_arrow:hover, #slideshow .slide_arrow:focus {
      background: #FFF; }
      #slideshow .slide_arrow:hover .icon, #slideshow .slide_arrow:focus .icon {
        fill: #00CCFF; }
    #slideshow .slide_arrow:active .icon {
      fill: #00E1FF; }
  #slideshow .slides_container {
    height: 100vw;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2; }
    @media (min-width: 425px) {
      #slideshow .slides_container {
        height: 50vw; } }
    @media (min-width: 1440px) {
      #slideshow .slides_container {
        height: 38.46vw; } }
    #slideshow .slides_container .slide {
      align-items: flex-start;
      display: flex;
      height: 100%;
      left: 0;
      justify-content: center;
      top: 0;
      width: 100%;
      z-index: 2; }
      #slideshow .slides_container .slide img, #slideshow .slides_container .slide video {
        filter: brightness(0.8); }
        #slideshow .slides_container .slide img[data-shape="wide"], #slideshow .slides_container .slide video[data-shape="wide"] {
          height: 100%;
          width: auto; }
        #slideshow .slides_container .slide img[data-shape="tall"], #slideshow .slides_container .slide video[data-shape="tall"] {
          height: auto;
          width: 100%; }
  #slideshow .slideshow_footer {
    background: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.075);
    height: 4em;
    width: 100%; }

.card {
  background: #FFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.075);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  opacity: 1;
  padding: 1em 1em 0 1em;
  transform: scale(1);
  width: 100%; }
  * + .card {
    margin-top: 1em; }
  .card input:not([type="submit"]), .card input:not([type="checkbox"]), .card input:not([type="radio"]), .card textarea:not([type="submit"]), .card textarea:not([type="checkbox"]), .card textarea:not([type="radio"]) {
    background: #f1f1f3;
    border: 1px solid rgba(0, 0, 0, 0.075) !important; }
  .card h2:first-child, .card h3:first-child {
    margin-top: 0; }
  .card .card_contents {
    background: #f1f1f3;
    border-radius: .5em;
    height: 100%;
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;
    width: 100%; }
  .card .field:first-child {
    margin-top: 0; }
  .card .field:last-child {
    margin-bottom: 1em; }
  .card > ul {
    margin-bottom: 1em; }
  .card .ctas {
    display: flex;
    flex-wrap: wrap; }

.ctas {
  display: flex;
  margin-bottom: 1em;
  justify-content: flex-end; }
  .ctas.align_left {
    justify-content: flex-start; }
  .ctas > *:not(:last-child) {
    margin-right: 1em; }

.cta, input[type="submit"] {
  background: #00CCFF;
  border: 0;
  color: #FFF;
  cursor: pointer;
  border-radius: 2em;
  font-size: 16px;
  min-height: 4em;
  outline: 0;
  padding: 1em;
  text-align: center;
  transition-property: none;
  width: auto; }
  .cta[type="submit"], input[type="submit"][type="submit"] {
    background: #ff0090; }
  .cta.danger, input[type="submit"].danger {
    background: #ff0047; }
  .cta .icon, input[type="submit"] .icon {
    fill: #FFF;
    height: 1.5em;
    width: auto; }
  .cta:not(:last-child), input[type="submit"]:not(:last-child) {
    margin: 0 1em 1em 0; }
  .cta:hover, .cta:focus, .cta:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #00E1FF; }
    .cta:hover[type="submit"], .cta:focus[type="submit"], .cta:active[type="submit"], input[type="submit"]:hover[type="submit"], input[type="submit"]:focus[type="submit"], input[type="submit"]:active[type="submit"] {
      background: #ff25a0; }
    .cta:hover.danger, .cta:focus.danger, .cta:active.danger, input[type="submit"]:hover.danger, input[type="submit"]:focus.danger, input[type="submit"]:active.danger {
      background: #ff2a65; }
  .cta.fab, input[type="submit"].fab {
    max-height: 4em;
    max-width: 4em;
    padding: .5em;
    position: absolute;
    z-index: 2; }
    .cta.fab.sml, input[type="submit"].fab.sml {
      max-height: 2em;
      min-height: 2em;
      max-width: 2em;
      padding: .25em; }
    .cta.fab .icon, input[type="submit"].fab .icon {
      fill: #FFF;
      height: 1.5em;
      width: auto; }
  .cta:not(.fab).sml, input[type="submit"]:not(.fab).sml {
    min-height: 3em;
    max-height: 3em;
    padding: .5em 1em; }
  .cta:not(.fab) .icon, input[type="submit"]:not(.fab) .icon {
    height: 1.5em;
    margin: .25em .5em .25em 0;
    width: auto; }
  .cta:not(.fab) span, input[type="submit"]:not(.fab) span {
    height: 2em;
    line-height: 2em; }

.carousel {
  background: #f1f1f3;
  border-radius: .5em;
  display: flex;
  margin-bottom: 1em;
  overflow: auto;
  padding: 1em 1em 0 1em;
  overflow-y: hidden;
  min-height: 6em; }
  .carousel li {
    height: 6em;
    list-style: none; }
    .carousel li:not(:last-child) {
      margin-bottom: 1em;
      margin-right: 1em; }
    .carousel li a {
      height: 100%;
      display: block;
      width: 100%; }

.media_container {
  background: #FFF;
  border: 0;
  border-radius: .5em;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 6em;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 6em; }
  .media_container.wide_container {
    width: 13em; }
    .media_container.wide_container p {
      background: #FFF;
      color: #00CCFF;
      min-height: 1em;
      text-align: center;
      top: 1em;
      padding: .5em;
      position: absolute; }
  .media_container.round_container {
    background: #252525;
    border-radius: 4em;
    display: flex;
    float: left;
    height: 8em;
    margin: 0 1em 1em 0;
    width: 8em; }
  .media_container.hd_container {
    border-radius: 0;
    height: 9.4em;
    width: 16em; }
  .media_container * {
    pointer-events: none; }
  .media_container:not(:last-child) {
    margin-right: 1em; }
  .media_container:hover, .media_container:focus, .media_container:active {
    filter: brightness(1.1);
    opacity: 0.8; }
  .media_container img[data-shape="wide"], .media_container video[data-shape="wide"] {
    height: 100%;
    width: auto; }
  .media_container img[data-shape="tall"], .media_container video[data-shape="tall"] {
    height: auto;
    width: 100%; }

form > * {
  opacity: 1; }

form .two_columns {
  display: flex;
  flex-wrap: wrap; }
  form .two_columns .field {
    width: 50%;
    margin-top: 0;
    padding: 1em; }

.field {
  width: 100%; }
  * + .field {
    margin-top: 1em; }
  .field.media_browser_field {
    display: inline-block;
    min-width: 12em;
    width: auto; }
    .field.media_browser_field + .field.media_browser_field {
      margin-right: 100%; }
    .field.media_browser_field .media_container {
      background: #f1f1f3;
      border-radius: .5em;
      margin-right: 0; }
      .field.media_browser_field .media_container p {
        margin: 1em; }
  .field.checkbox_field {
    display: flex; }
    .field.checkbox_field label {
      flex-grow: 1;
      flex-shrink: 0; }
    .field.checkbox_field input {
      color: #252525;
      flex-grow: 0;
      flex-shrink: 0; }
  .field:not(.checkbox_field) * {
    font-family: "Quicksand", sans-serif; }
    .field:not(.checkbox_field) *:not(.media_container) {
      width: 100%; }
  .field label {
    display: block;
    padding: 0.375em 0;
    font-weight: bold; }
  .field input:not([type="submit"]) {
    border: 0;
    border-radius: .5em;
    outline: 0;
    padding: 1em; }
    .field input:not([type="submit"])[type="text"], .field input:not([type="submit"])[type="email"], .field input:not([type="submit"])[type="date"], .field input:not([type="submit"])[type="password"] {
      min-height: 4em; }
    .field input:not([type="submit"])[type="checkbox"] {
      height: 1em;
      margin: .5em .5em .5em 0;
      width: 1em; }
    .field input:not([type="submit"])[type="file"], .field input:not([type="submit"])[type="files"] {
      font-family: "Quicksand", sans-serif; }
  .field textarea {
    border: 0;
    border-radius: .5em;
    min-height: 8em;
    outline: 0;
    padding: 1em; }

#footer {
  background: #252525;
  color: #FFF; }
  #footer a {
    color: #FFF; }
  #footer li {
    padding: 0.375em 0; }

.dismiss_zone {
  background: rgba(0, 0, 50, 0.2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3; }

.profile {
  display: flex; }

.hidden-flex-item {
  content: "";
  flex: 1 0 200px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 5px;
  visibility: hidden; }

.dialog {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: .5em;
  left: 1em;
  max-width: 600px;
  opacity: 0;
  padding: 1em 1em 0 1em;
  position: absolute;
  top: 33%;
  transform: scale(0.5);
  transition-property: opacity, transform;
  transition-duration: .4s;
  width: calc(100% - 2em);
  z-index: 4;
  will-change: transform; }
  @media (min-width: 632px) {
    .dialog {
      left: calc(50% - 300px); } }

.shadow {
  background: rgba(0, 0, 50, 0.2);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition-property: opacity;
  width: 100vw;
  z-index: 2; }

.visible {
  transform: scale(1) !important;
  opacity: 1 !important; }

.disabled {
  pointer-events: none; }
  .disabled.btn,
  .disabled > .btn {
    background: #f1f1f3 !important; }

::-moz-selection {
  background: #ff0090;
  color: #FFF; }

::selection {
  background: #ff0090;
  color: #FFF; }

.thumbnail_group {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .thumbnail_group li {
    width: 100%; }
    @media (min-width: 425px) {
      .thumbnail_group li {
        width: calc(50% - 1em); } }
    @media (min-width: 1024px) {
      .thumbnail_group li {
        width: calc(33.33% - 2em); } }
    .thumbnail_group li.thumbnail {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.075);
      cursor: pointer;
      display: flex;
      margin: 0 0 2em 0;
      position: relative;
      transition-property: box-shadow; }
    .thumbnail_group li .media_container {
      pointer-events: none; }
    .thumbnail_group li:hover, .thumbnail_group li:focus, .thumbnail_group li:active {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075); }
      .thumbnail_group li:hover .media_container, .thumbnail_group li:focus .media_container, .thumbnail_group li:active .media_container {
        filter: brightness(1.1);
        opacity: 0.8; }
    .thumbnail_group li > a {
      display: flex;
      flex-direction: column; }
    .thumbnail_group li dl {
      margin: 0;
      max-width: 16em;
      width: 100%; }
      .thumbnail_group li dl * {
        margin: .5em 0;
        text-align: left;
        width: 100%; }
    .thumbnail_group li .thumbnail_title {
      color: #00CCFF;
      font-size: 1.25em;
      font-weight: bold; }
    .thumbnail_group li .thumbnail_description {
      color: #252525;
      flex: 1 0 auto; }
    .thumbnail_group li .thumbnail_price {
      color: #ff0090;
      font-weight: bold; }
    .thumbnail_group li .thumbnail_footer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
      width: 100%; }
      .thumbnail_group li .thumbnail_footer a {
        display: block;
        width: calc(50% - 1em); }
        .thumbnail_group li .thumbnail_footer a .btn {
          width: 100%; }

.hidden-flex-item {
  margin: 0;
  padding: 0; }
