.carousel {
  background: #f1f1f3;
  border-radius: .5em;
  min-height: 8em;
  margin-bottom: 1em; }
  .carousel .carousel_contents {
    display: flex;
    margin: 0;
    overflow: auto;
    padding: 1em; }
    .carousel .carousel_contents li {
      height: 6em;
      list-style: none;
      width: 12em;
      flex-shrink: 0; }
      .carousel .carousel_contents li.square_carousel_item {
        width: 6em; }
      .carousel .carousel_contents li:not(:last-child) {
        margin-right: 1em; }
      .carousel .carousel_contents li a {
        height: 100%;
        display: block;
        width: 100%; }

.card {
  background: #FFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.075);
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  opacity: 1;
  padding: 1em 1em 0 1em;
  width: 100%; }
  * + .card {
    margin-top: 1em; }
  .card input:not([type="submit"]), .card input:not([type="checkbox"]), .card input:not([type="radio"]), .card textarea:not([type="submit"]), .card textarea:not([type="checkbox"]), .card textarea:not([type="radio"]) {
    background: #f1f1f3;
    border: 1px solid rgba(0, 0, 0, 0.075) !important; }
  .card h2 {
    font-size: 2em; }
    .card h2:first-child {
      margin-top: 0; }
  .card .card_contents {
    background: #f1f1f3;
    border-radius: .5em;
    height: 100%;
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;
    width: 100%; }
  .card .field:first-child {
    margin-top: 0; }
  .card .field:last-child {
    margin-bottom: 1em; }
  .card > ul {
    margin-bottom: 1em; }
  .card .ctas {
    display: flex;
    flex-wrap: wrap; }

.media_container {
  background: #FFF;
  border: 0;
  border-radius: .5em;
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 0em;
  justify-content: flex-start;
  opacity: 1;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%; }
  .media_container * {
    pointer-events: none; }
  .media_container.wide_container {
    padding-bottom: 50%; }
  .media_container.round_container {
    background: #252525;
    border-radius: 4em;
    display: flex;
    float: left;
    margin: 0 1em 1em 0; }
  .media_container.hd_container {
    border-radius: 0;
    padding-bottom: 56.25%; }
  .media_container:not(:last-child) {
    margin-right: 1em; }
  .media_container:hover, .media_container:focus, .media_container:active {
    filter: brightness(1.1);
    opacity: 0.8; }

.media_title {
  align-items: center;
  display: flex;
  height: calc(100% - 1em);
  justify-content: center;
  left: 0;
  margin: .5em;
  position: absolute;
  top: 0;
  width: calc(100% - 1em);
  z-index: 1; }
  .media_title span {
    background: rgba(255, 255, 255, 0.75);
    color: #252525;
    padding: .5em;
    text-align: center; }

.media_contents {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%; }
  .media_contents img[data-shape="wide"], .media_contents video[data-shape="wide"] {
    height: 100%;
    width: auto; }
  .media_contents img[data-shape="tall"], .media_contents video[data-shape="tall"] {
    height: auto;
    width: 100%; }

#slideshow {
  height: 100vw;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1; }
  @media (min-width: 425px) {
    #slideshow {
      height: 50vw; } }
  @media (min-width: 1440px) {
    #slideshow {
      height: 38.46vw; } }
  #slideshow .slides_nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    pointer-events: none;
    width: 100%; }
    #slideshow .slides_nav .btn {
      pointer-events: all; }
  #slideshow .slide_arrow {
    background: #f1f1f3;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);
    font-size: 1.5em;
    margin: 1em;
    position: relative; }
    #slideshow .slide_arrow:hover, #slideshow .slide_arrow:focus {
      background: #FFF; }
      #slideshow .slide_arrow:hover .icon, #slideshow .slide_arrow:focus .icon {
        fill: #00CCFF; }
    #slideshow .slide_arrow:active .icon {
      fill: #00E1FF; }
  #slideshow .slides_container {
    display: flex;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2; }
    #slideshow .slides_container .slide {
      align-items: flex-start;
      display: inline-flex;
      flex-shrink: 0;
      height: 100%;
      justify-content: center;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition-property: transform;
      width: 100%;
      z-index: 1; }
      #slideshow .slides_container .slide:first-child {
        z-index: 2; }
      #slideshow .slides_container .slide img, #slideshow .slides_container .slide video {
        filter: brightness(0.8); }
        #slideshow .slides_container .slide img[data-shape="wide"], #slideshow .slides_container .slide video[data-shape="wide"] {
          height: 100%;
          width: auto; }
        #slideshow .slides_container .slide img[data-shape="tall"], #slideshow .slides_container .slide video[data-shape="tall"] {
          height: auto;
          width: 100%; }
      #slideshow .slides_container .slide .slide_text {
        bottom: 0;
        left: 0;
        margin: 1em;
        padding: 0;
        position: absolute;
        transition-property: opacity; }
        #slideshow .slides_container .slide .slide_text * {
          background: rgba(0, 0, 50, 0.2);
          color: #FFF;
          padding: .5em; }
          #slideshow .slides_container .slide .slide_text *.slide_title {
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1.5em; }
  #slideshow .slideshow_footer {
    background: #FFF;
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.075);
    height: .25em;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%; }
    #slideshow .slideshow_footer .progress_bar {
      background: #00CCFF;
      height: .25em;
      transform: scaleX(0);
      transition-duration: 5s;
      transition-property: transform;
      transition-timing-function: linear;
      width: 1.1%; }

form > * {
  opacity: 1; }

.fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 520px) {
    .fields .field {
      width: calc(50% - .5em); } }

.field {
  width: 100%;
  margin-top: 1em; }
  .card .field {
    margin-top: 0;
    margin-bottom: 1em; }
  .field.checkbox_field {
    display: flex; }
    .field.checkbox_field label {
      flex-grow: 1;
      flex-shrink: 0; }
    .field.checkbox_field input {
      color: #252525;
      flex-grow: 0;
      flex-shrink: 0; }
  .field:not(.checkbox_field) > * {
    font-family: "Quicksand", sans-serif; }
    .field:not(.checkbox_field) > *:not(.media_browser_contents) {
      width: 100%; }
  .field label {
    display: block;
    padding: 0.375em 0;
    font-weight: bold; }
  .field input:not([type="submit"]) {
    border: 0;
    border-radius: .5em;
    outline: 0;
    padding: 1em; }
    .field input:not([type="submit"])[type="text"], .field input:not([type="submit"])[type="email"], .field input:not([type="submit"])[type="date"], .field input:not([type="submit"])[type="password"] {
      min-height: 4em; }
    .field input:not([type="submit"])[type="checkbox"] {
      height: 1em;
      margin: .5em .5em .5em 0;
      width: 1em; }
    .field input:not([type="submit"])[type="file"], .field input:not([type="submit"])[type="files"] {
      font-family: "Quicksand", sans-serif; }
  .field textarea {
    border: 0;
    border-radius: .5em;
    min-height: 8em;
    outline: 0;
    padding: 1em; }

.infinite_links .links_list {
  display: flex;
  flex-direction: column; }
  .infinite_links .links_list .field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 519px) {
      .infinite_links .links_list .field {
        margin-bottom: 2em; } }
    .infinite_links .links_list .field > *:last-child {
      align-items: center;
      display: flex;
      height: 4em;
      margin-top: 2em;
      width: 2em; }
      @media (max-width: 519px) {
        .infinite_links .links_list .field > *:last-child {
          margin-right: 1em; } }
    @media (max-width: 519px) {
      .infinite_links .links_list .field > *:first-child {
        width: 100%; }
      .infinite_links .links_list .field > *:nth-child(2) {
        width: calc(100% - 4em); } }
    @media (min-width: 520px) {
      .infinite_links .links_list .field > *:not(:last-child) {
        width: calc(50% - 2.5em); } }
    .infinite_links .links_list .field > * input {
      width: 100%; }

/*.fields {
	.field {
		display: flex;
		justify-content: space-between;
		height: 8em;
		margin-bottom: 0!important;
		position: relative;
		width: 100%;
		div {
			flex-basis: calc(50% - 3em);
			//	width: calc(50% - .5em);

		}
		label {
				font-weight: normal;
		}
		button {
			cursor: pointer;
			flex-grow: 0;
			height: 4em;
			margin: 2em 0;
			padding: 1em;
			width: 4em!important;
			flex-grow: 0;
		}
	}
	ul:last-child {
		margin-bottom: 1em;
	}
}
*/
.stream_field .stream_url {
  padding: 1em 0; }
  .stream_field .stream_url *, .stream_field .stream_url {
    width: 100%; }

.stream_container {
  background: #f1f1f3;
  border-radius: .5em;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%; }
  .stream_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.thumbnail_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .thumbnail_group li {
    width: 100%; }
    @media (min-width: 425px) {
      .thumbnail_group li {
        width: calc(50% - 1em); } }
    @media (min-width: 1024px) {
      .thumbnail_group li {
        width: calc(33.33% - 2em); } }
    .thumbnail_group li.thumbnail {
      align-items: center;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.075);
      cursor: pointer;
      display: flex;
      margin: 0 0 2em 0;
      padding: 1em;
      position: relative;
      transition-property: box-shadow; }
      .thumbnail_group li.thumbnail .thumbnail_content {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        position: relative;
        width: 100%; }
        .thumbnail_group li.thumbnail .thumbnail_content figure {
          margin: 0 0 4em 0; }
          .thumbnail_group li.thumbnail .thumbnail_content figure a {
            display: flex;
            position: relative; }
          .thumbnail_group li.thumbnail .thumbnail_content figure figcaption {
            margin: 0; }
      @media (max-width: 766px) {
        .thumbnail_group li.thumbnail {
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075); } }
      .thumbnail_group li.thumbnail:hover, .thumbnail_group li.thumbnail:focus, .thumbnail_group li.thumbnail:active {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075); }
        .thumbnail_group li.thumbnail:hover .media_container, .thumbnail_group li.thumbnail:focus .media_container, .thumbnail_group li.thumbnail:active .media_container {
          opacity: 0.75; }
    .thumbnail_group li .media_container {
      height: 0;
      margin: 0;
      pointer-events: none;
      width: 100%; }
      .thumbnail_group li .media_container.hd_container {
        padding-bottom: 56.25%; }
    .thumbnail_group li .timestamp {
      background: rgba(0, 0, 50, 0.2);
      color: #FFF;
      font-size: 12px;
      padding: 8px;
      position: absolute;
      left: 8px;
      bottom: 8px; }
    .thumbnail_group li dl {
      flex: 1 0 auto;
      margin: 0;
      width: 100%; }
      .thumbnail_group li dl * {
        margin: .5em 0;
        text-align: left;
        width: 100%; }
    .thumbnail_group li .thumbnail_title {
      color: #252525;
      font-size: 1.25em;
      font-weight: bold; }
    .thumbnail_group li .thumbnail_description {
      color: #252525; }
    .thumbnail_group li .thumbnail_footer {
      bottom: 1em;
      height: 2em;
      position: absolute;
      width: 100%; }
      .thumbnail_group li .thumbnail_footer ul {
        display: flex;
        justify-content: flex-end;
        width: 100%; }
        .thumbnail_group li .thumbnail_footer ul li {
          display: block;
          width: calc(50% - 1em); }
          .thumbnail_group li .thumbnail_footer ul li.thumbnail_price {
            flex-grow: 1; }
            .thumbnail_group li .thumbnail_footer ul li.thumbnail_price p {
              color: #ff0090;
              font-weight: bold;
              height: 3em;
              line-height: 1em;
              margin: 0;
              padding: 1em 1em 1em 0; }
          .thumbnail_group li .thumbnail_footer ul li .btn {
            width: 100%; }

a {
  color: #00CCFF;
  text-decoration: none; }
  p > a {
    color: #00CCFF; }
  a:hover, a:focus, a:active {
    color: #00E1FF; }

p:first-child {
  margin-top: 0; }

h1, h2 {
  opacity: 1; }

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .6s; }

h2 {
  display: flex;
  font-size: 1.75em;
  font-weight: 500;
  margin: 0 0 .666em 0; }
  h2 .icon {
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    margin: 0.25em .5em 0.25em 0.25em; }
    * + h2 .icon {
      margin: 0.25em 0.25em 0.25em 1em; }
  h2 span {
    font-size: inherit;
    font-weight: inherit; }

.title {
  font-weight: 500; }

.btn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  outline: none;
  padding: .25em;
  width: 2em; }
  .btn * {
    pointer-events: none; }

#notification_bar {
  background: #ff0090;
  color: #FFF;
  height: 1.5em;
  text-align: center;
  width: 100%; }
  #notification_bar span {
    font-size: .8em;
    line-height: 1.875em; }

article {
  max-width: 1440px;
  min-height: 0;
  padding: 1em .5em;
  width: 100%; }
  @media (min-width: 767px) {
    article {
      padding: 1em; } }

form > * {
  opacity: 0;
  transition-property: opacity; }

#footer {
  padding: 1em; }
  #footer > * {
    opacity: 1; }

#app_header {
  display: flex;
  flex-direction: column; }
  #app_header:not(.admin_header) ul li:nth-child(2) {
    max-width: 276px;
    width: calc(100% - 10em); }
  #app_header ul {
    display: flex;
    height: 100%;
    position: relative; }
    #app_header ul li {
      flex-grow: 0;
      flex-shrink: 0;
      height: 4em;
      opacity: 1;
      min-width: 4em; }
      @media (min-width: 768px) {
        #app_header ul li {
          height: 5em;
          min-width: 5px; } }
      #app_header ul li .header_btn {
        height: 100%;
        display: block !important;
        width: 100%; }
      #app_header ul li .btn {
        font-size: 16px;
        padding: 0;
        height: 4em;
        width: 4em; }
        @media (min-width: 768px) {
          #app_header ul li .btn {
            padding: 1.25em;
            height: 5em;
            width: 5em; } }
        #app_header ul li .btn .icon {
          height: 1.25em;
          width: 1.25em; }
          @media (min-width: 768px) {
            #app_header ul li .btn .icon {
              height: 1.5em;
              width: 1.5em; } }
        #app_header ul li .btn:hover .icon, #app_header ul li .btn:focus .icon {
          fill: #00CCFF; }
        #app_header ul li .btn:active .icon {
          fill: #00E1FF; }
    #app_header ul.static_nav {
      height: 4em;
      justify-content: space-between;
      z-index: 5; }
      @media (min-width: 768px) {
        #app_header ul.static_nav {
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.075);
          height: 5em; } }
    #app_header ul#menu {
      display: none;
      background: #FFF;
      height: 3em;
      z-index: inherit; }
      @media (max-width: 767px) {
        #app_header ul#menu {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
          display: flex;
          height: 100vh;
          flex-direction: column;
          left: -16em;
          max-width: calc(100vw - 2em);
          padding: 5em 1em 1em 1em;
          position: absolute;
          top: 1.5em;
          width: 16em;
          z-index: 7;
          transition-property: transform; }
          #app_header ul#menu li {
            height: 4em; }
            #app_header ul#menu li a {
              display: block;
              height: 100%;
              width: 100%; } }
  @media (max-width: 767px) and (max-height: 29em) {
    #app_header ul#menu {
      overflow-y: scroll; } }
      @media (min-width: 768px) {
        #app_header ul#menu {
          align-items: center;
          display: inline-flex;
          justify-content: center;
          padding: 0; }
          #app_header ul#menu li {
            height: 3em;
            max-width: 12em;
            text-align: center;
            width: calc(100% / 6); }
            #app_header ul#menu li a {
              align-items: center;
              display: inline-flex;
              height: 100%;
              justify-content: center;
              line-height: 1em;
              padding: 1em;
              width: 100%; } }
      #app_header ul#menu li {
        font-weight: bold; }
  #app_header #menu_btn {
    display: none; }
    @media (max-width: 767px) {
      #app_header #menu_btn {
        display: flex;
        font-size: 16px;
        height: 4em;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 1.5em;
        transition-property: opacity;
        width: 4em;
        z-index: 6; }
        #app_header #menu_btn .icon {
          height: 1.25em;
          width: 1.25em; }
        #app_header #menu_btn:hover .icon, #app_header #menu_btn:focus .icon {
          fill: #00CCFF; }
        #app_header #menu_btn:active .icon {
          fill: #00E1FF; } }
  #app_header #menu_shadow {
    background: rgba(0, 0, 50, 0.2);
    content: "";
    display: block;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition-property: opacity;
    width: 100vw;
    z-index: -1; }
  @media (max-width: 767px) {
    #app_header #menu_checkbox:checked ~ #menu {
      transform: translateX(16em); }
    #app_header #menu_checkbox:checked ~ #menu_shadow {
      opacity: 1;
      pointer-events: all; } }
  @media (max-width: 767px) {
    #app_header #mailing_list_btn {
      display: none; } }
  #app_header #app_title {
    align-items: center;
    display: inline-flex;
    flex-shrink: 1;
    height: 4em;
    justify-content: center;
    padding: 0;
    width: 100%; }
    @media (min-width: 768px) {
      #app_header #app_title {
        height: 5em; } }
    #app_header #app_title svg {
      stroke-width: 2.1;
      height: 100%;
      width: 100%; }

h1 {
  opacity: 1; }

.intro h1 {
  color: #000;
  line-height: 1em;
  margin: 0; }

.intro p {
  color: #252525; }

.product_card_group {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  flex-wrap: wrap; }
  .product_card_group .product_section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 0; }
    .product_card_group .product_section h1 {
      line-height: 1em;
      margin: 0; }
    .product_card_group .product_section > span {
      color: #666; }
    .product_card_group .product_section:first-child {
      margin-right: .5em;
      width: calc(100% - 20.5em); }
    .product_card_group .product_section:last-child {
      text-align: center !important;
      width: 20em; }
    @media (max-width: 666px) {
      .product_card_group .product_section {
        width: 100% !important; }
        .product_card_group .product_section:first-child {
          margin-right: 0;
          margin-bottom: .5em; } }
  .product_card_group .tags {
    display: flex;
    flex-wrap: wrap; }
    .product_card_group .tags .tag {
      position: relative; }
      .product_card_group .tags .tag:not(:last-child) {
        margin-right: .5em; }
        .product_card_group .tags .tag:not(:last-child)::after {
          color: #252525;
          content: ",";
          height: 100%;
          position: absolute;
          top: 0;
          right: -.5em;
          width: .5em; }
  .product_card_group #product_links, .product_card_group #product_links * {
    width: 100%; }
  .product_card_group #product_links .product_link:not(:last-child) {
    margin-bottom: 1em; }

.product_preview_container {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  max-width: 1408px;
  overflow: hidden;
  width: 100%; }
  .product_preview_container .image_container {
    height: 100vw; }
    @media (min-width: 425px) {
      .product_preview_container .image_container {
        height: 50vw; } }
    @media (min-width: 1440px) {
      .product_preview_container .image_container {
        height: 38.46vw; } }

.ctas {
  display: flex;
  margin-bottom: 1em;
  justify-content: flex-end; }
  .ctas.align_left {
    justify-content: flex-start; }
  .ctas > *:not(:last-child) {
    margin-right: 1em; }

.cta, input[type="submit"] {
  background: #00CCFF;
  border: 0;
  color: #FFF;
  cursor: pointer;
  border-radius: 2em;
  font-size: 16px;
  min-height: 4em;
  outline: 0;
  padding: 1em;
  text-align: center;
  transition-property: none;
  width: auto; }
  .cta[type="submit"], input[type="submit"][type="submit"] {
    background: #ff0090; }
  .cta.danger, input[type="submit"].danger {
    background: #ff0047; }
  .cta.buy, input[type="submit"].buy {
    background: #ff0090; }
  .cta .icon, input[type="submit"] .icon {
    fill: #FFF;
    height: 1.5em;
    width: auto; }
  .cta:not(:last-child), input[type="submit"]:not(:last-child) {
    margin: 0 1em 1em 0; }
  .cta:hover, .cta:focus, .cta:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #00E1FF; }
    .cta:hover[type="submit"], .cta:focus[type="submit"], .cta:active[type="submit"], input[type="submit"]:hover[type="submit"], input[type="submit"]:focus[type="submit"], input[type="submit"]:active[type="submit"] {
      background: #ff25a0; }
    .cta:hover.danger, .cta:focus.danger, .cta:active.danger, input[type="submit"]:hover.danger, input[type="submit"]:focus.danger, input[type="submit"]:active.danger {
      background: #ff2a65; }
  .cta.fab, input[type="submit"].fab {
    max-height: 4em;
    max-width: 4em;
    padding: .5em;
    position: absolute;
    z-index: 2; }
    .cta.fab.sml, input[type="submit"].fab.sml {
      max-height: 2em;
      min-height: 2em;
      max-width: 2em;
      padding: .25em; }
    .cta.fab .icon, input[type="submit"].fab .icon {
      fill: #FFF;
      height: 1.5em;
      width: auto; }
  .cta:not(.fab).sml, input[type="submit"]:not(.fab).sml {
    min-height: 3em;
    max-height: 3em;
    padding: .5em 1em; }
  .cta:not(.fab) .icon, input[type="submit"]:not(.fab) .icon {
    height: 1.5em;
    margin: .25em .5em .25em 0;
    width: auto; }
  .cta:not(.fab) span, input[type="submit"]:not(.fab) span {
    height: 2em;
    line-height: 2em; }

#footer {
  background: #252525;
  color: #FFF; }
  #footer a {
    color: #FFF; }
  #footer li {
    padding: 0.375em 0; }

.dismiss_zone {
  background: rgba(0, 0, 50, 0.2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3; }

.profile {
  display: flex;
  height: 8em;
  width: 8em; }

.hidden-flex-item {
  content: "";
  flex: 1 0 200px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 5px;
  visibility: hidden; }

.dialog {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: .5em;
  left: 1em;
  max-width: 600px;
  opacity: 0;
  padding: 1em 1em 0 1em;
  position: absolute;
  top: 33%;
  transform: scale(0.5);
  transition-property: opacity, transform;
  transition-duration: .4s;
  width: calc(100% - 2em);
  z-index: 4;
  will-change: transform; }
  @media (min-width: 632px) {
    .dialog {
      left: calc(50% - 300px); } }

.shadow {
  background: rgba(0, 0, 50, 0.2);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition-property: opacity;
  width: 100vw;
  z-index: 2; }

.visible {
  transform: scale(1) !important;
  opacity: 1 !important; }

.disabled {
  pointer-events: none; }
  .disabled.btn,
  .disabled > .btn {
    background: #f1f1f3 !important; }

::-moz-selection {
  background: #ff0090;
  color: #FFF; }

::selection {
  background: #ff0090;
  color: #FFF; }

.hidden-flex-item {
  margin: 0;
  padding: 0; }
