html, body {
  background: #f1f1f3;
  height: 100%; }

body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 4em 0 0 0; }
  @media (min-width: 768px) {
    body {
      padding-top: 8em; } }
  body.admin {
    padding-top: 5.2em !important; }
    @media (min-width: 768px) {
      body.admin {
        padding-top: 5.2em !important; } }

*, *::before, *::after {
  box-sizing: inherit;
  font-size: 16px;
  transition-duration: .6s;
  transition-property: none;
  transition-timing-function: ease; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

#app_header {
  background: #FFF;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.075);
  height: 5.5em;
  left: 0;
  line-height: 2em;
  padding: 0;
  position: fixed;
  top: -24px;
  width: 100%;
  z-index: 4; }
  @media (min-width: 768px) {
    #app_header {
      height: 9.5em; } }
  #app_header.admin_header {
    height: 6.5em !important; }
    @media (min-width: 768px) {
      #app_header.admin_header {
        height: 6.5em !important; } }
  #app_header li {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .6s; }

#menu_checkbox {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  background: none !important;
  border: none; }

#menu_btn, #menu_shadow {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .6s; }

main {
  display: flex;
  min-height: calc(100vh - 8em);
  padding: 1em;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#slideshow,
h1, h2,
.card,
.media_container,
#footer > * {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .6s; }

.media_container {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .4s; }

.spinner {
  height: 4em;
  left: 50%;
  margin: -2em 0 0 -2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: scale(0.5);
  transition-property: scale, opacity;
  transition-duration: .4s;
  width: 4em;
  z-index: 3;
  will-change: transform; }
  .spinner.visible {
    transform: scale(1);
    opacity: 1; }
  .spinner svg {
    animation: spinner 1.5s linear infinite;
    height: 4em;
    width: 4em; }
    .spinner svg .progress {
      animation: progress 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite, colors 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      fill: none;
      stroke: #00CCFF;
      stroke-linecap: round;
      stroke-width: 3; }

@keyframes spinner {
  0% {
    transform: rotate(-110deg); }
  20% {
    transform: rotate(-70deg); }
  60% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(250deg); } }

@keyframes progress {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  20% {
    stroke-dasharray: 1, 150;
    stroke-dash-offset: 0; }
  60% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

@keyframes colors {
  0% {
    stroke: #00CCFF; }
  48% {
    stroke: #00CCFF; }
  52% {
    stroke: #ff0090; }
  98% {
    stroke: #ff0090; } }

#view_all_list li {
  opacity: 0;
  transform: scale(0.5);
  transition-property: opacity, transform; }
