@import "./vars/colors";
@import "./components/grid";
@import "./components/media_browser";

body {
	padding-top: 5.2em!important;
	@media (min-width: 768px) {
		padding-top: 5.2em!important;
	}
}

#app_header.admin_header {
	height: 6.5em!important;
	@media (min-width: 768px) {
		height: 6.5em!important;
	}
	ul {
		justify-content: space-between!important;
		#app_title {
			padding: 1em;
		}
	}
	
}

#view_all_actions_bar {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	div {
		height: 4em;
		display: flex;
		&.disabled {
			pointer-events: none;
			.btn{
				background: $offwhite!important;
			}
		}
	}
}