@import "./vars/colors";


a {
	color: $teal;
	text-decoration: none;
	p > & {
		color: $teal;
	}
	&:hover, &:focus, &:active {
		color: $active_teal;
	}
}


p:first-child {
	margin-top: 0;
}

h1, h2 {
	opacity: 1;
}

h1 {
	font-size: 2.5em;
	margin: 0.5em 0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .6s;
}

h2 {
	display: flex;
	font-size: 1.75em;
	font-weight: 500;
	margin: 0 0 .666em 0;
	.icon {
		display: inline;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 16px;
		margin: 0.25em .5em 0.25em 0.25em;
		* + & {
			margin: 0.25em 0.25em 0.25em 1em;
		}
	}
	span {
		font-size: inherit;
		font-weight: inherit;
	}
}

.title {
	font-weight: 500;
}

.btn {
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	height: 2em;
	justify-content: center;
	outline: none;
	padding: .25em;
	width: 2em;
	* {
		pointer-events: none;
	}
}

#notification_bar {
	background: $pink;
	color: $white;
	height: 1.5em;
	text-align: center;
	width: 100%;
	span {
		font-size: .8em;
		line-height: 1.875em;
	}
}




article {
	max-width: 1440px;
	min-height: calc(100vh - 14.5em);
	padding: 1em 0;
	width: 100%;
}
.card {
	opacity: 0;
	transform: scale(.9);
	transition-property: opacity, transform;
	transition-duration: .4s;
	will-change: transform;
}

form {
    > * {
        opacity: 0;
        transition-property: opacity;
    }
}
#footer {
   // min-height: 4em;
	padding: 1em;
	> * {
		opacity: 1;
	}
}

#app_header {
	display: flex;
	flex-direction: column;
	ul {
		display: flex;
		height: 100%;
		position: relative;
		li {
			flex-grow: 0;
			flex-shrink: 0;
			height: 4em;
			opacity: 1;
			min-width: 4em;
			@media(min-width: 768px) {
				height: 5em;
				min-width: 5px;
			}
			.header_btn {
				height: 100%;
				display: block!important;
				width: 100%;
			}
			.btn {
				font-size: 16px;
				padding: 0;
				height: 4em;
				width: 4em;
				@media(min-width: 768px) {
					padding: 1.25em;
					height: 5em;
					width: 5em;
				}
				.icon {
					height: 1.25em;
					width: 1.25em;
					@media(min-width: 768px) {
						height: 1.5em;
						width: 1.5em;
					}
				}
				&:hover, &:focus {
					.icon {
						fill: $teal;
					}
				}
				&:active {
					.icon {
						fill: $active_teal;
					}
				}
			}
		}
		&.static_nav {
			height: 4em;
			justify-content: space-between;
			z-index: 5;
			@media(min-width: 768px) {
				box-shadow: 0 0 0 1px $shadow;
				height: 5em;
			}
		}
		&#menu {
			display: none;
			background: $white;
			height: 3em;
			z-index: inherit;
			@media(max-width: 767px) {
				box-shadow: 0 0 0 3px $shadow;
				display: flex;
				height: 100vh;
				flex-direction: column;
				left: -16em;
				max-width: calc(100vw - 2em);
				padding: 5em 1em 1em 1em;
				position: absolute;
				top: 1.5em;
				width: 16em;
				z-index: 7;
				transition-property: transform;
				li {
					height: 4em;
					a {
						display: block;
						height: 100%;
						width: 100%;
					}
				}
				@media(max-height: 29em) {
					overflow-y: scroll;
				}
			}
			@media(min-width: 768px) {
				align-items: center;
				display: inline-flex;
				justify-content: center;
				padding: 0;
				li {
					height: 3em;
					max-width: 12em;
					text-align: center;
					width: calc(100% / 6);
					a {
						align-items: center;
						display: inline-flex;
						height: 100%;
						justify-content: center;
						line-height: 1em;
						padding: 1em;
						width: 100%;
					}
				}
			}
			li {
				font-weight: bold;
			}
		}
	}

	#menu_btn {
		display: none;
		@media(max-width: 767px) {
			display: flex;
			font-size: 16px;
			height: 4em;
			left: 0;
			opacity: 1;
			position: absolute;
			top: 1.5em;
			transition-property: opacity;
			width: 4em;
			z-index: 6;
			.icon {
				height: 1.25em;
				width: 1.25em;
			}
			&:hover, &:focus {
				.icon {
					fill: $teal;
				}
			}
			&:active {
				.icon {
					fill: $active_teal;
				}
			}
		}
	}

	#menu_shadow {
		background: $dimmed_lights;
		content: "";
		display: block;
		height: 100vh;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition-property: opacity;
		width: 100vw;
		z-index: -1;
	}

	@media(max-width: 767px) {
		#menu_checkbox:checked ~ #menu {
			transform: translateX(16em);
		}
		#menu_checkbox:checked ~ #menu_shadow {
			opacity: 1;
			pointer-events: all;
		}
	}

	#mailing_list_btn {
		@media(max-width: 767px) {
			display: none;
		}
	}

	#app_title {
		align-items: center;
		display: inline-flex;
		flex-shrink: 1;
		height: 4em;
		justify-content: center;
		padding: 0;
		@media(min-width: 768px) {
			height: 5em;
		}
		svg {
			@media(min-width: 430px){
				height: 36px;
				stroke-width: 2.1;
				width: 276px;
			}
		}
	}
}



h1 {
	opacity: 1;
}

#slideshow {
	opacity: 1;
	position: relative;
	width: 100%;
	z-index: 1;
	.slide_nav {
		align-items: center;
		display: flex;
		height: 100vw;
		justify-content: space-between;
		pointer-events: none;
		width: 100%;
		@media(min-width: 425px) {
			height: 50vw;
		}
		@media(min-width: 1440px) {
			height: 38.46vw;
		}
		.btn {
			pointer-events: all;
		}
	}
	.slide_arrow {
		background: $offwhite;
		border-radius: 50%;
		box-shadow: 0 0 0 2px $shadow;
		font-size: 1.5em;
		margin: 1em;
		position: relative;
		&:hover, &:focus {
			background: $white;
			.icon {
				fill: $teal;
			}
		}
		&:active {
			.icon {
				fill: $active_teal;
			}
		}
	}
	.slides_container {
		display: flex;
		height: 100vw;
		left: 0;
		overflow-x: scroll;
		overflow-y: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -2;
		@media(min-width: 425px) {
			height: 50vw;
		}
		@media(min-width: 1440px) {
			height: 38.46vw;
		}
		.slide {
			align-items: flex-start;
			display: inline-flex;
			flex-shrink: 0;
			height: 100%;
			justify-content: center;
			left: 0;
			overflow: hidden;
			position: relative;
			top: 0;
			width: 100%;
			z-index: 2;
			img, video {
				filter: brightness(.8);
				&[data-shape="wide"] {
					height: 100%;
					width: auto;
				}
				&[data-shape="tall"] {
					height: auto;
					width: 100%;
				}
			}
			.slide_text {
				bottom: 0;
				left: 0;
				margin: 1em;
				padding: 0;
				position: absolute;
				* {
					background: $dimmed_lights;
					color: $white;
					padding: .5em;
					&.slide_title {
						font-size: 1.5em;
						font-weight: bold;
						line-height: 1.5em;
					}
				}
			}
		}
	}
	.slideshow_footer {
		background: $white;
		box-shadow: 0 0 0 1px $shadow;
		height: 4em;
		width: 100%;
	}
}


.card {
	background: $white;
	box-shadow: 0 0 0 1px $shadow;
	border-radius: .5em;
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	opacity: 1;
	padding: 1em 1em 0 1em;
	transform: scale(1);
	width: 100%;
	* + & {
		margin-top: 1em;
	}
	input, textarea {
		&:not([type="submit"]),
		&:not([type="checkbox"]),
		&:not([type="radio"]) { 
			background: $offwhite;
			border: 1px solid $shadow!important;
		}
	}
	h2 {
		font-size: 2em;
		&:first-child {
			margin-top: 0;
		}
	}
	.card_contents {
		background: $offwhite;
		border-radius: .5em;
		height: 100%;
		//left: 1em;
		margin-bottom: 1em;
		padding: 1em 1em 0 1em;
		//position: absolute;
		//top: 1em;
		width: 100%;
	}
	.field {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 1em;
		}
	}
	> ul {
		margin-bottom: 1em;
	}
	.ctas {
		display: flex;
		flex-wrap: wrap;
	}
}

.ctas {
	display: flex;
	margin-bottom: 1em;
	justify-content: flex-end;
	&.align_left {
		justify-content: flex-start;
	}
	> * {
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.cta, input[type="submit"] {
	background: $teal;
	&[type="submit"] {
		background: $pink;
	}
	&.danger {
		background: $red;
	}
	&.buy {
		background: $pink;
	}
	border: 0;
	color: $white;
	cursor: pointer;
	border-radius: 2em;
	font-size: 16px;
	min-height: 4em;
	outline: 0;
	padding: 1em;
	text-align: center;
	transition-property: none;
	width: auto;
		.icon {
			fill: $white;
			height: 1.5em;
			width: auto;
		}

	&:not(:last-child) {
		margin: 0 1em 1em 0;
	}
	&:hover, &:focus, &:active {
		background: $active_teal;
		&[type="submit"] {
			background: $active_pink;
		}
		&.danger {
			background: $active_red;
		}
	}

	&.fab {
		max-height: 4em;
		max-width: 4em;
		padding: .5em;
		position: absolute;
		z-index: 2;
		&.sml {
			max-height: 2em;
			min-height: 2em;
			max-width: 2em;
			padding: .25em;
		}
		.icon {
			fill: $white;
			height: 1.5em;
			width: auto;
		}
	}

	&:not(.fab) {
		&.sml{
			min-height: 3em;
			max-height: 3em;
			padding: .5em 1em;
		}
		.icon {
			height: 1.5em;
			margin: .25em .5em .25em 0;
			width: auto;
		}
		span {
			height: 2em;
			line-height: 2em;
		}
	}
}



.carousel {
	background: $offwhite;
	border-radius: .5em;
	display: flex;
	margin-bottom: 1em;
	overflow: auto;
	padding: 1em 1em 0 1em;
	overflow-y: hidden;
	min-height: 6em;
	li {
		height: 6em;
		list-style: none;
		&:not(:last-child) {
			margin-bottom: 1em;
			margin-right: 1em;
		}
		a {
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}
.media_container {
	background: $white;
	border: 0;
	border-radius: .5em;
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	flex-grow: 0;
	flex-shrink: 0;
	height: 6em;
	justify-content: center;
	opacity: 1;
	overflow: hidden;
	position: relative;
	width: 6em;
	&.wide_container {
		width: 13em;
		p {
			background: $white;
			color: $teal;
			min-height: 1em;
			text-align: center;
			top: 1em;
			padding: .5em;
			position: absolute;
			
		}
	}
	&.round_container {
		background: $slate;
		border-radius: 4em;
		display: flex;
		float: left;
		height: 8em;
		margin: 0 1em 1em 0;
		width: 8em;
	}
	&.hd_container {
		border-radius: 0;
		height: 9.4em;
		width: 16em;
	}
	* {
		pointer-events: none;
	}
	&:not(:last-child) {
		margin-right: 1em;
	}
	&:hover, &:focus, &:active {
		filter: brightness(1.1);
		opacity: 0.8;
	}
	img, video {
		&[data-shape="wide"] {
			height: 100%;
			width: auto;
		}
		&[data-shape="tall"] {
			height: auto;
			width: 100%;
		}
	}
}


form {
	> * {
		opacity: 1;
	}
	.two_columns {
		display: flex;
		flex-wrap: wrap;
		.field {
			width: 50%;
			margin-top: 0;
			padding: 1em;
		}
	}
}
.field {
	width: 100%;
	* + & {
		margin-top: 1em;
	}
	&.media_browser_field {
		display: inline-block;
		min-width: 12em;
		width: auto;
		& + & {
			margin-right: 100%;
		}
		.media_container {
			background: $offwhite;
			border-radius: .5em;
			margin-right: 0;
			p {
				margin: 1em;
			}
		}
	}
	&.checkbox_field {
		display: flex;
		label {
			flex-grow: 1;
			flex-shrink: 0;
		}
		input {
			color: $slate;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
	&:not(.checkbox_field) {
		* {
			font-family: "Quicksand", sans-serif;
			&:not(.media_container) {
				width: 100%;
			}
		}
	}
	label {
		display: block;
		padding: 0.375em 0;
		font-weight: bold;
	}
	input:not([type="submit"]) {
		border: 0;
		border-radius: .5em;
		outline: 0;
		padding: 1em;
		&[type="text"],
		&[type="email"],
		&[type="date"],
		&[type="password"] {
			min-height: 4em;
		}
		&[type="checkbox"] {
			height: 1em;
			margin: .5em .5em .5em 0;
			width: 1em;
		}
		&[type="file"],
		&[type="files"] {
			font-family: "Quicksand", sans-serif;
		}
	}
	textarea {
		border: 0;
		border-radius: .5em;
		min-height: 8em;
		outline: 0;
		padding: 1em;
	}

	.cta.sml {
	//	width: auto;
	}
}
#footer {
	background: $slate;
	color: $white;
	a {
		color: $white;
	}
	li {
		padding: 0.375em 0;
	}
}


.dismiss_zone {
	background: rgba(0,0,50,.2);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 3;
}

.profile {
	display: flex;
	.profile_info {

	}

}


.hidden-flex-item {
	content: "";
	flex: 1 0 200px;
	padding: 5px;
	margin-top: 10px;
	margin-right: 5px;
	visibility: hidden;
}

.dialog {
	background: $white;
	border: 1px solid $shadow;
	border-radius: .5em;
	left: 1em;
	max-width: 600px;
	opacity: 0;
	padding: 1em 1em 0 1em;
	position: absolute;
	top: 33%;
	transform: scale(.5);
	transition-property: opacity, transform;
	transition-duration: .4s;
	width: calc(100% - 2em);
	z-index: 4;
	will-change: transform;
	@media(min-width: 632px) {
		left: calc(50% - 300px);
	}
}
.shadow {
	background: rgba(0,0,50,.2);
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition-property: opacity;
	width: 100vw;
	z-index: 2;
}

.visible {
	transform: scale(1)!important;
	opacity: 1!important;
}
.disabled {
	pointer-events: none;
	&.btn,
	> .btn{
		background: $offwhite!important;
	}
}





::-moz-selection { background: $pink; color: $white}
::selection { background: $pink; color: $white}



.thumbnail_group {
	align-items: flex-start;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	li {
		width: 100%;
		@media(min-width: 425px) {
			width: calc(50% - 1em);
		}
		@media(min-width: 1024px) {
			width: calc(33.33% - 2em);
		}
		&.thumbnail {
			align-items: center;
			box-shadow: 0 0 0 0 $shadow;
			cursor: pointer;
			display: flex; 
			//justify-content: flex-start;
			margin: 0 0 2em 0;
			padding: 1em;
			position: relative;
			transition-property: box-shadow;
			max-width: 18em;
			.thumbnail_content {
				display: flex;
				flex-direction: column;
				width: 100%;
				> a {
					display: flex;
					position: relative;
				}
			}
			&:hover, &:focus, &:active {
				box-shadow: 0 0 0 2px $shadow;
				.media_container {
					//filter: brightness(1.1);
					opacity: 0.75;
				}
			}
		}
		.media_container {
			pointer-events: none;
		}
		.timestamp {
			background: $dimmed_lights;
			color: $white;
			font-size: 12px;
			padding: 8px;
			position: absolute;
			left: 8px;
			bottom: 8px;
		}
		dl {
			flex: 1 0 auto;
			margin: 0;
			width: 100%;
			* {
				margin: .5em 0;
				text-align: left;
				width: 100%;
			}
		}
		.thumbnail_title {
			color: $slate;
			font-size: 1.25em;
			font-weight: bold;
		}
		.thumbnail_description {
			color: $slate;
		}
		.thumbnail_footer {
			max-width: 16em;
			width: 100%;
			ul {
			display: flex;
			justify-content: flex-end;
			//margin-bottom: 1em;
			width: 100%;
				li {
					display: block;
					width: calc(50% - 1em);
					&.thumbnail_price {
						flex-grow: 1;
						p {
							color: $pink;
							font-weight: bold;
							height: 3em;
							line-height: 1em;
							margin: 0;
							padding: 1em 1em 1em 0;
						}
					}
					.btn {
						width: 100%;
					}
				}
			}
		}
	}
}

.hidden-flex-item {
	margin: 0;
	padding: 0;
}