@import "./vars/colors";

#app_header {
    border-bottom: 1px solid $shadow;
    > * {
        opacity: 1;
    }
    nav {
        padding: 1em;
        ul {
            display: flex;
            li {
                flex-grow: 0;
                flex-shrink: 0;
                height: 32px;
                &:first-child {
                    flex-grow: 1;
                }
            }
        }
    }
    #app_title {
        color: $slate;
        font-size: 1.25em;
        line-height: 1.6em;
    }
    .btn {
        font-size: 16px;
    }
}


#slideshow {
    background: $offwhite;
    height: calc(100vh - 152px);
    position: relative;
    .slide_arrow {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        font-size: 1.25em;
        position: absolute;
        top: calc(50% - .5em);
    }
    #prev_slide_btn {
        left: .5em;
    }
    #next_slide_btn {
        right: .5em;
    }
}


.card {
    background: $white;
    border: 1px solid $shadow;
    border-radius: .5em;
	padding: 1em 1em 0 1em;
	max-width: 1224px;
	width: 100%;
    * + & {
        margin-top: 1em;
    }
    input, textarea {
        &:not([type="submit"]),
        &:not([type="checkbox"]),
        &:not([type="radio"]) { 
			background: $offwhite;
			border: 1px solid $shadow!important;
		}
	}
	h2, h3 {
		&:first-child {
			margin-top: 0;
		}
	}
	.card_contents {
		background: $offwhite;
		border-radius: .5em;
		height: 100%;
		//left: 1em;
		margin-bottom: 1em;
		padding: 1em;
		//position: absolute;
		//top: 1em;
		width: 100%;
	}
	.field {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 1em;
		}
	}
	> ul {
		margin-bottom: 1em;
	}
    .ctas {
        display: flex;
        flex-wrap: wrap;
    }
}

.ctas {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1em;
	> * {
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.cta, input[type="submit"] {
	background: $teal;
	&[type="submit"] {
		background: $pink;
	}
	&.danger {
		background: $red;
	}
	border: 0;
	color: $white;
	cursor: pointer;
	border-radius: 2em;
	font-size: 16px;
	min-height: 4em;
	outline: 0;
	padding: 1em;
	text-align: center;
	transition-property: none;
	width: auto;
		.icon {
			fill: $white;
			height: 1.5em;
			width: auto;
		}

	&:not(:last-child) {
		margin: 0 1em 1em 0;
	}
	&:hover, &:focus, &:active {
		background: $active_teal;
		&[type="submit"] {
			background: $active_pink;
		}
		&.danger {
			background: $active_red;
		}
	}

	&.fab {
		max-height: 4em;
		max-width: 4em;
		padding: .5em;
		position: absolute;
		z-index: 2;
		&.sml {
			max-height: 2em;
			min-height: 2em;
			max-width: 2em;
			padding: .25em;
		}
		.icon {
			fill: $white;
			height: 1.5em;
			width: auto;
		}
	}

	&:not(.fab) {
		&.sml{
			min-height: 3em;
			max-height: 3em;
			padding: .5em 1em;
		}
		.icon {
			margin: .25em .5em .25em 0;
		}
		span {
			height: 2em;
			line-height: 2em;
		}
	}
}



.carousel {
	background: $offwhite;
	border-radius: .5em;
	display: flex;
	margin-bottom: 1em;
	overflow: auto;
	padding: 1em;
	overflow-y: hidden;
	min-height: 6em;
	li {
		height: 6em;
		list-style: none;
		&:not(:last-child) {
			margin-bottom: 1em;
			margin-right: 1em;
		}
		a {
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}
.media_container {
	background: $white;
	border: 0;
	border-radius: .5em;
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	flex-grow: 0;
	flex-shrink: 0;
	height: 6em;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 6em;
	&.wide_container {
		width: 13em;
		p {
			background: $white;
			color: $teal;
			min-height: 1em;
			text-align: center;
			top: 1em;
			padding: .5em;
			position: absolute;
			
		}
	}
	* {
		pointer-events: none;
	}
	&:not(:last-child) {
		margin-right: 1em;
	}
	&:hover, &:focus, &:active {
		filter: brightness(1.1);
		opacity: 0.8;
	}
	img, video {
		&[data-shape="wide"] {
			height: 100%;
			width: auto;
		}
		&[data-shape="tall"] {
			height: auto;
			width: 100%;
		}
	}
}


form {
	> * {
		opacity: 1;
	}
	.two_columns {
		display: flex;
		flex-wrap: wrap;
		.field {
			width: 50%;
			margin-top: 0;
			padding: 1em;
		}
	}
}
.field {
	width: 100%;
	* + & {
		margin-top: 1em;
	}
	&.checkbox_field {
		display: flex;
		label {
			flex-grow: 1;
			flex-shrink: 0;
		}
		input {
			color: $slate;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
	&:not(.checkbox_field) {
		* {
			font-family: "Quicksand", sans-serif;
			&:not(.media_container) {
				width: 100%;
			}
		}
	}
	label {
		display: block;
		padding: 0.375em 0;
		font-weight: bold;
	}
	input:not([type="submit"]) {
		border: 0;
		border-radius: .5em;
		outline: 0;
		padding: 1em;
		&[type="text"],
		&[type="email"],
		&[type="date"],
		&[type="password"] {
			min-height: 4em;
		}
		&[type="checkbox"] {
			height: 1em;
			margin: .5em .5em .5em 0;
			width: 1em;
		}
		&[type="file"],
		&[type="files"] {
			font-family: "Quicksand", sans-serif;
		}
	}
	textarea {
		border: 0;
		border-radius: .5em;
		min-height: 8em;
		outline: 0;
		padding: 1em;
	}

	}

#footer {
	background: $slate;
	color: $white;
	a {
		color: $white;
	}
	li {
		padding: 0.375em 0;
	}
}


.dismiss_zone {
	background: rgba(0,0,50,.2);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 3;
}

.profile {
	display: flex;
	.profile_photo {
		align-items: center;
		background: $slate;
		border-radius: 4em;
		display: flex;
		float: left;
		height: 8em;
		justify-content: center;
		margin: 0 1em 1em 0;
		overflow: hidden;
		position: relative;
		width: 8em;
		img {
			&[data-shape="wide"] {
				height: 100%;
				width: auto;
			}
			&[data-shape="tall"] {
				height: auto;
				width: 100%;
			}
		}
	}
	.profile_info {

	}

}


.hidden-flex-item {
    content: "";
    flex: 1 0 200px;
    padding: 5px;     
    margin-top: 10px;  
    margin-right: 5px;
    visibility: hidden;
}